<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pupusas JP</title>
</head>
<body>
    <center>
    <h1>Este es el menu de admin</h1>
    <p style="color: crimson;">Bienvenido al menu principal</p>
    <img src="static/imagenes/pupusas.png" width="200" height="210">
</center>

<nav class="menu">
    <ul>
        <li>
            <img src="static/imagenes/pagos.png"  >
            <a href="{% url 'pagos' %}">Pago</a>
        </li>
        <li>
            <img src="static/imagenes/reportes.png"  >
            <a href="{% url 'reportes' %}">Reportes Ventas</a>
        </li>
        <li>
            <img src="static/imagenes/inventario.png"  >
            <a href="{% url 'inventario' %}">Inventario</a>
        </li>
    
    </ul>
</nav>


</body>
</html>